:root{
    --slide_up_animation_time: 2s;
    --slide_up_animation_end_time: 3s;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
  }

img {
    max-width:100%;
}

div#wrapper{
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    flex: 1;
    flex-grow: 2;
    
    margin: 0 auto;
}

body{
    background-image: linear-gradient(to right, #1A2EC1, #4C6Ad6);
}


.nav_menu_list{
    display: flex;
    justify-content: center;

    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 1000px;
    padding: 20px;
}

.nav_menu_list_item{
    list-style-type: none;
    
    background:rgba(0,0,0,0.2);
    
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    vertical-align: middle;
    
    line-height: 60px;
    
    max-height: 60px;
    
    flex-grow: 3;
}

.nav_icon{
    max-width: 50px;
    max-height: 50px;
    padding: 0px 15px 20px;
    
    flex-grow: 1;
}
.nav_menu_list_item:hover{
    background:rgba(0,0,0,0.4);
}

.nav_menu_button{
    color:white;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    
    background:rgba(0,0,0,0.2);
    
    padding: 20px 5px;
    width: 100%;
    
}

button{
    background-color: #e7250e;
    min-width: 100px;
    min-height: 50px;
    border: none;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
}

footer{
    font-family: 'Zen Kurenaido', sans-serif;
    color: #0575E6;

    position: relative;
    top: 100vh;
    text-align: center;
    max-height: 10vh;
}

.toggleNavigation{
    display: none;
}

.onMenuClick{
    display: flex;
}

#nav_menu{
    padding-top: 5vh;
}

.nav_link_anchor{
    display: block;
    padding: 20px;
    overflow: hidden;
}

.nav_link {
    color: white;
    text-decoration:none;
}

#contact_me_page{
    min-height: 30vh;
}

#home_page{
    position: relative;
    min-height: 85vh;
    justify-content: center;
}

.article{
    position: relative;
    top: 90vh;
    min-height: 100vh;
    justify-content: center;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about_me_article{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 90vh;
    min-height: 100vh;
}

.slide_up_article_animation{
    animation: slideup_result var(--slide_up_animation_end_time) ease-in;
}

.slide_up_text_animation{
    animation: slideup var(--slide_up_animation_time) ease-in;
}

@keyframes slideup {
    from{
        flex: 0;
    }
    to{
        flex: 1;
    }
}

@keyframes slideup_result{
    from{
        justify-content: center;
    }
    to{
        justify-content: flex-start;
    }
}

.waiting_cursor{
    cursor: wait;
}

.animation_area{
    position: relative;
}

.introduction_picture{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#welcome_text_div{
    position: absolute;
    top: 33%;
    left: 18%;
    max-width: 600px;
}

.article_text,.project_text{
    color: white;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
    padding: 20px;
}

.text_visible{
    opacity: 1;
    z-index: 10;
}

.project_section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img_project{
    flex-basis: 50%;
    max-width: 45%;
    padding-right: 5%;
    padding-bottom: 10%;
    flex-grow: 0;
}

.banner{
    flex-basis: 99%;
    height: 10vh;
    min-width: 100%;
    background-color: #e7250e;
    border-radius: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}

.project_images{
    display: flex;
    justify-content: center;
}

h4{
    text-align: center;
}

/* Tablet */
@media all and (max-width:1000px){
    .nav_menu_list{
        flex-wrap: wrap;
    }
    .nav_menu_list_item{
        flex-basis: 50%;
    }
    .onMenuClick{
        display: flex;
    }    
}

/* Mobile */
@media all and (max-width:500px){

    .toggleNavigation{
        display: block;
    }
    .onMenuClick{
        display: none;
    }    

    .nav_menu_list{
        flex-wrap: wrap;
    }
    .nav_menu_list_item{
        flex-basis: 100%;
    }
}

